
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khmer:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Battambang",system-ui;
    font-weight: 100;
    font-style: normal;
}
p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
           line-clamp: 5;
    -webkit-box-orient: vertical ;
}
img{
    height: 250px;
}
.row{
    display: flex;
}